Source: scleaner
Section: misc
Priority: optional
Maintainer: Jean-Michel Frouin <jmfrouin@gnu.org>
Homepage: http://savannah.nongnu.org/projects/scleaner/
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
XS-Vcs-Browser: http://svn.savannah.nongnu.org/viewvc/trunk/?root=scleaner

Package: scleaner
Architecture: any
Description:  simple GNU/Linux desktop cleaner
 scleaner use a powerful plugin system. You can select input plugins which
 allow you to find files on your computer. You can select output plugins
 which allow you to apply various action to these files.
 scleaner has 2 modes, a user mode which allow your files, an a super user
 (root) mode which allow you to clean the whole computer.
