#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

cmake: cmake-stamp
cmake-stamp:
	dh_testdir
	mkdir build
	( cd build; cmake ../src/ )
	touch $@

build: build-stamp
build-stamp: cmake
	dh_testdir
	( cd build; $(MAKE) )
	touch $@

clean:
	dh_testdir
	dh_testroot
	dh_clean build-stamp cmake-stamp
	-rm -vrf build/

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	( cd build; $(CMAKE) install DESTDIR=$(CURDIR)/debian/scleaner )


binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install cmake
