Package: scleaner
Version: 0.30.0
Section: system
Priority: optional
Architecture: all
Essential: no
Depends: libwxgtk2.8-0, cmake (>= 2.4)
Installed-Size: 512
Maintainer: Jean-Michel Frouin <jmfrouin@gmail.com>
Provides: scleaner
Description: scleaner will be able to clean your GNU/Linux desktop. 
			Il will be able to remove, for example, all unwanted logs, orphan or duplicate files ...
.
How it works:

scleaner use two kind of plugins:
- Input plugin which find files
- Output plugin which did something with these files.

Example: You use logs plugin (input plugin) to find all logs on your computer, and burn them to a CD or DVD in tar+bzip2 format (output plugin).

scleaner can be launch as root or simple user, but some plugin need root access to work properly.

scleaner stay in your tray bar, when not used or to do repetitive work.

It use wxWidgets for frontend.
