[Desktop Entry]
Encoding=UTF-8
Type=Application
_Name=scleaner
_Comment=simple GNU/Linux cleaner
Icon=scleaner.xpm
Exec=scleaner
Terminal=false
StartupNotify=true
Categories=Application;System;
