[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=scleaner (root)
_Name=scleaner
_Comment=simple GNU/Linux cleaner
Icon=scleaner_root.xpm
Exec=gksu scleaner
Terminal=false
StartupNotify=true
Categories=Application;System;
